PyMuPDF 
camelot 
requests
pypdf2
python-multipart
bcrypt
streamlit
fastapi
uvicorn
pandas
pdfplumber
azure-ai-formrecognizer 
azure-core
azure-ai-documentintelligence
pdfservices-sdk
python-dotenv
pymupdf4llm
markitdown
boto3
llama-index
docling